@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root {
  --fontFamily: 'Dosis', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fontFamily);
  letter-spacing: 2px;
  line-height: 1.5;
}
